ul li {
  background: rgba(100, 0, 0, 0.3);
  padding: 5px;
  margin: 2px;
  list-style-type: none;
  max-width: 500px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
}

ul li:hover {
  background-color: rgba(150, 0, 0, 0.3);
  z-index: 1;
  border: 0px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid rgba(100, 0, 0, 0.3);
}


input:focus {
  outline: none;
}

#txtTask {
  width: 400px;
  color: rgb(100, 0, 0);
  font-size: 30px;
}

button {
  border-radius: 5px;
  border: 0px;
}

button:focus {
  outline: none;
}
