<!--The container for the list of tasks.-->
<div class="container">
  <div>
  <div class="col-md-6">
    <div>
      <h1>
        Welcome to {{title}}!
      </h1>

    </div>

    <div>
      <input id="txtTask" type="text" [(ngModel)]='txtName' placeholder="Enter Task"> <button class="btn-primary" (click)="addNewTask()"> Add Task </button><br>
      <p *ngIf="txtName">{{ 'Task Name: ' + txtName }}</p>
    </div>

    <div>
      <h2>My List of Tasks</h2>
      <ul class="taskList">
        <li *ngFor="let task of tasks" (click)="onSelect(task)">{{ task.name }}</li>
      </ul>

    </div>
  </div>
    <div class="col-md-6">
      <task-details [task]= selectedTask></task-details>
    </div>
  </div>
</div>
